* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: #FFFFFF;
    background: #000000;
}

.blobs {
    width: 180px;
    height: 180px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blob {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #FFFFFF;
    animation: rotate 2s linear infinite;
}
.blob:nth-child(2) {
    animation-duration: 2s;
    border-radius: 35% 65% 50% 76%;
}
.blob:nth-child(3) {
    animation-duration: 4s;
    border-radius: 47% 73% 98% 36%;
}
.blob:nth-child(4) {
    animation-duration: 6s;
    border-radius: 84% 50% 40% 23%;
}

@keyframes rotate {
    0% {
        rotate: 1deg;
    }
    50% {
        rotate: 180deg;
    }
    100% {
        rotate: 360deg;
    }
}